<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container">
    <a routerLink="/" class="navbar-brand">Constance</a>

    <ul class="navbar-nav me-auto mb-2 mb-md-0">
      @if (usersService.currentUser() ) {
      <li class="nav-item">
        <a routerLink="/customers" routerLinkActive="active" class="nav-link"
          >Customers</a
        >
      </li>
      <li class="nav-item">
        <a routerLink="/lists" routerLinkActive="active" class="nav-link"
          >Products</a
        >
      </li>
      <li class="nav-item">
        <a routerLink="/messages" routerLinkActive="active" class="nav-link"
          >Messages</a
        >
      </li>

      }
      <li class="nav-item">
        <a routerLink="/errors" routerLinkActive="active" class="nav-link"
          >Errors</a
        >
      </li>
    </ul>
    @if (usersService.currentUser()) {
    <div dropdown class="dropdown">
      <a dropdownToggle class="dropdown-toggle text-light text-decoration-none">
        Welcome {{ usersService.currentUser()?.firstName | titlecase }}
      </a>
      <div *dropdownMenu class="dropdown-menu">
        <a routerLink="user/edit" class="dropdown-item"> Edit profile</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="logout()"> Logout</a>
      </div>
    </div>
    } @if (!usersService.currentUser()) {
    <form #loginForm="ngForm" (ngSubmit)="login()" class="d-flex" role="search">
      <input
        name="email"
        [(ngModel)]="model.email"
        class="form-control me-2"
        placeholder="E-mail"
      />
      <input
        name="password"
        [(ngModel)]="model.password"
        class="form-control me-2"
        placeholder="Password"
        type="password"
      />
      <button class="btn btn-outline-success" type="submit">Login</button>
    </form>
    }
  </div>
</nav>
