<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">Constance</a>

    @if (accoutService.currentUser() ) {
    <ul class="navbar-nav me-auto mb-2 mb-md-0">
      <li class="nav-item">
        <a class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Sales</a>
      </li>
    </ul>
    } @if (accoutService.currentUser()) {
    <div dropdown class="dropdown">
      <a dropdownToggle class="dropdown-toggle text-light text-decoration-none">
        Welcome</a
      >
      <div *dropdownMenu class="dropdown-menu">
        <a class="dropdown-item"> Edit profile</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="logout()"> Logout</a>
      </div>
    </div>
    } @if (!accoutService.currentUser()) {
    <form #loginForm="ngForm" (ngSubmit)="login()" class="d-flex" role="search">
      <input
        name="email"
        [(ngModel)]="model.email"
        class="form-control me-2"
        placeholder="E-mail"
      />
      <input
        name="password"
        [(ngModel)]="model.password"
        class="form-control me-2"
        placeholder="Password"
        type="password"
      />
      <button class="btn btn-outline-success" type="submit">Login</button>
    </form>
    }
  </div>
</nav>
